:root {
    --accent1-dark: #2B694A;
    --accent1-light: #30996C;
    --accent2-dark: #14A2AE;
    --accent2-light: #6EE4FB;
    --accent3-gray: #688;
    --background-dark: #0E3042;
    --background-light: #fafafa;
}
